argon2-cffi>=25.1.0,<26
asyncpg>=0.30.0,<1
cryptography>=45.0.3,<46
dotenv>=0.9.9,<1
fastapi>=0.115.12,<1
fastapi_mail>=1.5.0,<2
greenlet>=3.2.3,<4
httpx>=0.28.1,<1
pydantic[email]>=2.11.6,<3
pyotp>=2.9.0,<3
requests>=2.32.4,<3
sqlalchemy>=2.0.41,<3
user-agents>=2.2.0,<3
uvicorn>=0.34.2,<1
