---
name: Run Pytest

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**/*.py'
      - '.github/workflows/run-pytest.yml'

jobs:
  test:
    name: Pytest on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - '3.12.x'
          - '3.x'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install OpenSSL (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libssl-dev

      # MacOS does not require OpenSSL installation as it is pre-installed

      - name: Install OpenSSL (Windows)
        if: runner.os == 'Windows'
        run: choco install openssl.light --no-progress

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
          pip install pytest-cov

      - name: Run Pytest (Linux/macOS)
        if: runner.os != 'Windows'
        run: python -m pytest --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html

      - name: Run Pytest (Windows)
        if: runner.os == 'Windows'
        run: python -m pytest --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html
