---
name: Scan Docker Images

permissions:
  actions: read
  contents: read
  security-events: write

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 4 * * 1' # Every monday at 4:00 UTC
  pull_request: null

jobs:
  scan-images:
    name: Scan ${{ matrix.image_name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - image_name: DevContainer
            dockerfile_path: ./Dockerfile
            context: .devcontainer

          - image_name: API
            dockerfile_path: ./api/Dockerfile
            context: ./api

          - image_name: Database
            dockerfile_path: ./database/Dockerfile
            context: ./database

    steps:
      - name: Scan ${{ matrix.image_name }}
        uses: Vianpyro/Template/.github/workflows/docker-image-verification.yml@main
        with:
          image_name: ${{ matrix.image_name }}
          dockerfile_path: ${{ matrix.dockerfile_path }}
          context: ${{ matrix.context }}
